My-n8n-workflow.json
{
  "name": "My-n8n-workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.values($binary).some(file => file.fileName?.endsWith('.csv')) }}",
              "value2": "={{ false }}"
            },
            {
              "value1": "={{ $json.subject.toLowerCase() }}",
              "value2": "={{ \"dataset\" }}"
            }
          ]
        }
      },
      "name": "IF Has CSV?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        112,
        -80
      ],
      "notesInFlow": false,
      "conditions": {
        "boolean": [],
        "number": [],
        "string": [],
        "multi": [
          {
            "value1": "={{Object.keys($binary).some(k => k.toLowerCase().endsWith('.csv'))}}",
            "operation": "equal",
            "value2": "true"
          }
        ]
      },
      "id": "f9a6f18b-3416-487f-89cb-998c4bbce347"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "name": "Extract CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        336,
        -176
      ],
      "id": "c9611bdf-bb80-4354-86cb-2d0c3a5853ab"
    },
    {
      "parameters": {
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -112,
        -80
      ],
      "id": "561f92b0-85f9-47f4-93b1-d33699351b89",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "YBj0znW2l4EC003y",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sales_data",
          "mode": "list",
          "cachedResultName": "sales_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "year": "={{ $json.Year }}",
            "month_index": "={{ $json.MonthIndex }}",
            "engine_cc": "={{ $json.Engine_CC }}",
            "customer_age": "={{ $json.Customer_Age }}",
            "on_road_price": "={{ $json.On_Road_Price }}",
            "discount": "={{ $json.Discount }}",
            "insurance_amount": "={{ $json.Insurance_Amount }}",
            "accessories_amount": "={{ $json.Accessories_Amount }}",
            "finance_amount": "={{ $json.Finance_Amount }}",
            "exchange_bonus": "={{ $json.Exchange_Bonus }}",
            "net_sales_amount": "={{ $json.Net_Sales_Amount }}",
            "cost_price": "={{ $json.Cost_Price }}",
            "gross_profit": "={{ $json.Gross_Profit }}",
            "delivery_days": "={{ $json.Delivery_Days }}",
            "customer_rating": "={{ $json.Customer_Rating }}",
            "order_date": "={{ $json.order_date }}",
            "order_id": "={{ $json.Order_ID }}",
            "month": "={{ $json.Month }}",
            "quarter": "={{ $json.Quarter }}",
            "state": "={{ $json.State }}",
            "city": "={{ $json.City }}",
            "dealer_name": "={{ $json.Dealer_Name }}",
            "sales_channel": "={{ $json.Sales_Channel }}",
            "bike_model": "={{ $json.Bike_Model }}",
            "bike_segment": "={{ $json.Bike_Segment }}",
            "color": "={{ $json.Color }}",
            "customer_gender": "={{ $json.Customer_Gender }}",
            "payment_mode": "={{ $json.Payment_Mode }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_date",
              "displayName": "order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "month_index",
              "displayName": "month_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "quarter",
              "displayName": "quarter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dealer_name",
              "displayName": "dealer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sales_channel",
              "displayName": "sales_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bike_model",
              "displayName": "bike_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bike_segment",
              "displayName": "bike_segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "engine_cc",
              "displayName": "engine_cc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "color",
              "displayName": "color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_age",
              "displayName": "customer_age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_gender",
              "displayName": "customer_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "payment_mode",
              "displayName": "payment_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "on_road_price",
              "displayName": "on_road_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "discount",
              "displayName": "discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "insurance_amount",
              "displayName": "insurance_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "accessories_amount",
              "displayName": "accessories_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "finance_amount",
              "displayName": "finance_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "exchange_bonus",
              "displayName": "exchange_bonus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "net_sales_amount",
              "displayName": "net_sales_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "gross_profit",
              "displayName": "gross_profit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "delivery_days",
              "displayName": "delivery_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "customer_rating",
              "displayName": "customer_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -176
      ],
      "id": "06dfe4de-9e67-4788-98be-4f35b887ba90",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "iskJyl0BRHJZc0yc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let orderDate = item.json.Order_Date;\n\n  if (orderDate) {\n    let day, month, year;\n\n    if (orderDate.includes(\"-\")) {\n      [day, month, year] = orderDate.split(\"-\");\n    } else if (orderDate.includes(\"/\")) {\n      [day, month, year] = orderDate.split(\"/\");\n    }\n\n    if (day && month && year) {\n      day = day.padStart(2, \"0\");\n      month = month.padStart(2, \"0\");\n\n      item.json.order_date = `${year}-${month}-${day}`;\n    }\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -176
      ],
      "id": "214944f1-b676-42af-93c3-4a9059373f9c",
      "name": "Code in JavaScript",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.messageId }}",
        "message": "Hey There!! The DataSet that you are trying to send should be in .CSV Format. Please try again. ",
        "options": {
          "appendAttribution": false,
          "senderName": "Manthan Vijay Sankpal"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        16
      ],
      "id": "f0366e7e-224b-446a-9206-4482b3748947",
      "name": "Reply to a message",
      "webhookId": "a558d367-49ad-4b14-9bf1-253de6288330",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "VbsZiKqzviZC9acJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "manthansankpal.vijay@gmail.com",
        "subject": "Hello Sir! New data has arrived.",
        "message": "=New data has been uploaded in to the database by  {{ $('Email Trigger (IMAP)').item.json.to.value[0].address }} and it is of city: {{ $json.city }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -176
      ],
      "id": "828ded26-fef3-4652-adba-e8859e5faee6",
      "name": "Send a message",
      "webhookId": "c02ff69c-10b1-4e65-8be2-636ce0576fa8",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "VbsZiKqzviZC9acJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Extract CSV": [
      {
        "json": {
          "Order_ID": "ORD00033",
          "Order_Date": "12/1/2025",
          "Year": "2025",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Blue",
          "Customer_Age": "53",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "77385",
          "Discount": "3829",
          "Insurance_Amount": "6005",
          "Accessories_Amount": "5716",
          "Finance_Amount": "0",
          "Exchange_Bonus": "991",
          "Net_Sales_Amount": "84286",
          "Cost_Price": "65750",
          "Gross_Profit": "18536",
          "Delivery_Days": "10",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00052",
          "Order_Date": "21-08-2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "37",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "83199",
          "Discount": "3426",
          "Insurance_Amount": "4360",
          "Accessories_Amount": "3644",
          "Finance_Amount": "79480",
          "Exchange_Bonus": "293",
          "Net_Sales_Amount": "87484",
          "Cost_Price": "65538",
          "Gross_Profit": "21946",
          "Delivery_Days": "6",
          "Customer_Rating": "4.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00072",
          "Order_Date": "16-05-2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "White",
          "Customer_Age": "30",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "114562",
          "Discount": "3520",
          "Insurance_Amount": "5729",
          "Accessories_Amount": "6315",
          "Finance_Amount": "107232",
          "Exchange_Bonus": "3810",
          "Net_Sales_Amount": "119276",
          "Cost_Price": "93135",
          "Gross_Profit": "26141",
          "Delivery_Days": "7",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00079",
          "Order_Date": "18-10-2025",
          "Year": "2025",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Blue",
          "Customer_Age": "51",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "109183",
          "Discount": "1625",
          "Insurance_Amount": "6463",
          "Accessories_Amount": "5709",
          "Finance_Amount": "106785",
          "Exchange_Bonus": "773",
          "Net_Sales_Amount": "118957",
          "Cost_Price": "84238",
          "Gross_Profit": "34719",
          "Delivery_Days": "10",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00085",
          "Order_Date": "30-04-2025",
          "Year": "2025",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "32",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "82473",
          "Discount": "2643",
          "Insurance_Amount": "6880",
          "Accessories_Amount": "5311",
          "Finance_Amount": "78127",
          "Exchange_Bonus": "1703",
          "Net_Sales_Amount": "90318",
          "Cost_Price": "71924",
          "Gross_Profit": "18394",
          "Delivery_Days": "4",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00088",
          "Order_Date": "25-01-2025",
          "Year": "2025",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Black",
          "Customer_Age": "28",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "210368",
          "Discount": "5917",
          "Insurance_Amount": "5204",
          "Accessories_Amount": "7377",
          "Finance_Amount": "201283",
          "Exchange_Bonus": "3168",
          "Net_Sales_Amount": "213864",
          "Cost_Price": "177185",
          "Gross_Profit": "36679",
          "Delivery_Days": "11",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00092",
          "Order_Date": "16-08-2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Black",
          "Customer_Age": "24",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "211705",
          "Discount": "2069",
          "Insurance_Amount": "7394",
          "Accessories_Amount": "8014",
          "Finance_Amount": "205485",
          "Exchange_Bonus": "4151",
          "Net_Sales_Amount": "220893",
          "Cost_Price": "162070",
          "Gross_Profit": "58823",
          "Delivery_Days": "3",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00093",
          "Order_Date": "25-09-2025",
          "Year": "2025",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Blue",
          "Customer_Age": "47",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "137112",
          "Discount": "6593",
          "Insurance_Amount": "4487",
          "Accessories_Amount": "1728",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2762",
          "Net_Sales_Amount": "133972",
          "Cost_Price": "113116",
          "Gross_Profit": "20856",
          "Delivery_Days": "7",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00096",
          "Order_Date": "6/3/2026",
          "Year": "2026",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "40",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "84531",
          "Discount": "5561",
          "Insurance_Amount": "4949",
          "Accessories_Amount": "3652",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1079",
          "Net_Sales_Amount": "86492",
          "Cost_Price": "69232",
          "Gross_Profit": "17260",
          "Delivery_Days": "11",
          "Customer_Rating": "3.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00099",
          "Order_Date": "11/6/2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "44",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "90591",
          "Discount": "2769",
          "Insurance_Amount": "6478",
          "Accessories_Amount": "5922",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3042",
          "Net_Sales_Amount": "97180",
          "Cost_Price": "71818",
          "Gross_Profit": "25362",
          "Delivery_Days": "4",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00118",
          "Order_Date": "10/6/2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Blue",
          "Customer_Age": "44",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "138019",
          "Discount": "5780",
          "Insurance_Amount": "7283",
          "Accessories_Amount": "6217",
          "Finance_Amount": "129789",
          "Exchange_Bonus": "2450",
          "Net_Sales_Amount": "143289",
          "Cost_Price": "107955",
          "Gross_Profit": "35334",
          "Delivery_Days": "7",
          "Customer_Rating": "4.2"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00120",
          "Order_Date": "23-11-2026",
          "Year": "2026",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "45",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "88754",
          "Discount": "6542",
          "Insurance_Amount": "6623",
          "Accessories_Amount": "2635",
          "Finance_Amount": "79229",
          "Exchange_Bonus": "2983",
          "Net_Sales_Amount": "88487",
          "Cost_Price": "73326",
          "Gross_Profit": "15161",
          "Delivery_Days": "1",
          "Customer_Rating": "4.1"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00135",
          "Order_Date": "14-02-2025",
          "Year": "2025",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Grey",
          "Customer_Age": "25",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "111409",
          "Discount": "3819",
          "Insurance_Amount": "4331",
          "Accessories_Amount": "2213",
          "Finance_Amount": "0",
          "Exchange_Bonus": "599",
          "Net_Sales_Amount": "113535",
          "Cost_Price": "92675",
          "Gross_Profit": "20860",
          "Delivery_Days": "6",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00143",
          "Order_Date": "15-10-2025",
          "Year": "2025",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Red",
          "Customer_Age": "38",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "139045",
          "Discount": "5770",
          "Insurance_Amount": "7491",
          "Accessories_Amount": "9564",
          "Finance_Amount": "132017",
          "Exchange_Bonus": "1258",
          "Net_Sales_Amount": "149072",
          "Cost_Price": "115587",
          "Gross_Profit": "33485",
          "Delivery_Days": "15",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00153",
          "Order_Date": "6/12/2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "39",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "90715",
          "Discount": "5018",
          "Insurance_Amount": "5637",
          "Accessories_Amount": "9157",
          "Finance_Amount": "83640",
          "Exchange_Bonus": "2057",
          "Net_Sales_Amount": "98434",
          "Cost_Price": "74919",
          "Gross_Profit": "23515",
          "Delivery_Days": "8",
          "Customer_Rating": "4.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00166",
          "Order_Date": "26-08-2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Red",
          "Customer_Age": "49",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "81563",
          "Discount": "2328",
          "Insurance_Amount": "5719",
          "Accessories_Amount": "4775",
          "Finance_Amount": "0",
          "Exchange_Bonus": "223",
          "Net_Sales_Amount": "89506",
          "Cost_Price": "63257",
          "Gross_Profit": "26249",
          "Delivery_Days": "15",
          "Customer_Rating": "4.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00180",
          "Order_Date": "22-08-2025",
          "Year": "2025",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "29",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "86495",
          "Discount": "1386",
          "Insurance_Amount": "6942",
          "Accessories_Amount": "2692",
          "Finance_Amount": "84964",
          "Exchange_Bonus": "145",
          "Net_Sales_Amount": "94598",
          "Cost_Price": "64595",
          "Gross_Profit": "30003",
          "Delivery_Days": "10",
          "Customer_Rating": "3.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00193",
          "Order_Date": "10/7/2026",
          "Year": "2026",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Red",
          "Customer_Age": "33",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "113783",
          "Discount": "677",
          "Insurance_Amount": "3530",
          "Accessories_Amount": "1932",
          "Finance_Amount": "111849",
          "Exchange_Bonus": "1257",
          "Net_Sales_Amount": "117311",
          "Cost_Price": "91103",
          "Gross_Profit": "26208",
          "Delivery_Days": "10",
          "Customer_Rating": "4.1"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00207",
          "Order_Date": "2/2/2025",
          "Year": "2025",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "41",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "83576",
          "Discount": "278",
          "Insurance_Amount": "6663",
          "Accessories_Amount": "7851",
          "Finance_Amount": "81659",
          "Exchange_Bonus": "1639",
          "Net_Sales_Amount": "96173",
          "Cost_Price": "68298",
          "Gross_Profit": "27875",
          "Delivery_Days": "5",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00223",
          "Order_Date": "10/12/2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "55",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "85776",
          "Discount": "903",
          "Insurance_Amount": "7633",
          "Accessories_Amount": "4195",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3393",
          "Net_Sales_Amount": "93308",
          "Cost_Price": "67849",
          "Gross_Profit": "25459",
          "Delivery_Days": "8",
          "Customer_Rating": "4.2"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00236",
          "Order_Date": "16-05-2026",
          "Year": "2026",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Blue",
          "Customer_Age": "39",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "140760",
          "Discount": "4738",
          "Insurance_Amount": "7881",
          "Accessories_Amount": "9511",
          "Finance_Amount": "132341",
          "Exchange_Bonus": "3681",
          "Net_Sales_Amount": "149733",
          "Cost_Price": "109452",
          "Gross_Profit": "40281",
          "Delivery_Days": "13",
          "Customer_Rating": "4.3"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00239",
          "Order_Date": "23-06-2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "39",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "94531",
          "Discount": "3113",
          "Insurance_Amount": "6927",
          "Accessories_Amount": "9500",
          "Finance_Amount": "90119",
          "Exchange_Bonus": "1299",
          "Net_Sales_Amount": "106546",
          "Cost_Price": "74021",
          "Gross_Profit": "32525",
          "Delivery_Days": "4",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00273",
          "Order_Date": "30-04-2026",
          "Year": "2026",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Red",
          "Customer_Age": "55",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "213257",
          "Discount": "797",
          "Insurance_Amount": "7529",
          "Accessories_Amount": "6365",
          "Finance_Amount": "208289",
          "Exchange_Bonus": "4171",
          "Net_Sales_Amount": "222183",
          "Cost_Price": "172348",
          "Gross_Profit": "49835",
          "Delivery_Days": "13",
          "Customer_Rating": "4.3"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00285",
          "Order_Date": "13-10-2026",
          "Year": "2026",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "47",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "90629",
          "Discount": "7",
          "Insurance_Amount": "3001",
          "Accessories_Amount": "2459",
          "Finance_Amount": "86192",
          "Exchange_Bonus": "4430",
          "Net_Sales_Amount": "91652",
          "Cost_Price": "72010",
          "Gross_Profit": "19642",
          "Delivery_Days": "3",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00287",
          "Order_Date": "4/5/2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "White",
          "Customer_Age": "46",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "77316",
          "Discount": "2801",
          "Insurance_Amount": "7770",
          "Accessories_Amount": "5295",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3966",
          "Net_Sales_Amount": "83614",
          "Cost_Price": "65570",
          "Gross_Profit": "18044",
          "Delivery_Days": "9",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00306",
          "Order_Date": "7/6/2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "White",
          "Customer_Age": "30",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "210195",
          "Discount": "4609",
          "Insurance_Amount": "5649",
          "Accessories_Amount": "1970",
          "Finance_Amount": "203567",
          "Exchange_Bonus": "2019",
          "Net_Sales_Amount": "211186",
          "Cost_Price": "173373",
          "Gross_Profit": "37813",
          "Delivery_Days": "13",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00333",
          "Order_Date": "15-12-2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Black",
          "Customer_Age": "36",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "111593",
          "Discount": "5019",
          "Insurance_Amount": "6495",
          "Accessories_Amount": "6251",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2439",
          "Net_Sales_Amount": "116881",
          "Cost_Price": "89894",
          "Gross_Profit": "26987",
          "Delivery_Days": "4",
          "Customer_Rating": "4.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00337",
          "Order_Date": "4/3/2025",
          "Year": "2025",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "44",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "86454",
          "Discount": "4569",
          "Insurance_Amount": "6199",
          "Accessories_Amount": "4347",
          "Finance_Amount": "0",
          "Exchange_Bonus": "4948",
          "Net_Sales_Amount": "87483",
          "Cost_Price": "66009",
          "Gross_Profit": "21474",
          "Delivery_Days": "8",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00338",
          "Order_Date": "27-10-2025",
          "Year": "2025",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Black",
          "Customer_Age": "37",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "85479",
          "Discount": "3159",
          "Insurance_Amount": "4719",
          "Accessories_Amount": "4092",
          "Finance_Amount": "79998",
          "Exchange_Bonus": "2322",
          "Net_Sales_Amount": "88809",
          "Cost_Price": "69639",
          "Gross_Profit": "19170",
          "Delivery_Days": "14",
          "Customer_Rating": "4.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00350",
          "Order_Date": "3/8/2025",
          "Year": "2025",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Red",
          "Customer_Age": "21",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "109880",
          "Discount": "1621",
          "Insurance_Amount": "4583",
          "Accessories_Amount": "2861",
          "Finance_Amount": "0",
          "Exchange_Bonus": "57",
          "Net_Sales_Amount": "115646",
          "Cost_Price": "85909",
          "Gross_Profit": "29737",
          "Delivery_Days": "14",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00356",
          "Order_Date": "27-12-2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "25",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "94647",
          "Discount": "793",
          "Insurance_Amount": "7292",
          "Accessories_Amount": "1980",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1163",
          "Net_Sales_Amount": "101963",
          "Cost_Price": "68221",
          "Gross_Profit": "33742",
          "Delivery_Days": "5",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00366",
          "Order_Date": "11/2/2025",
          "Year": "2025",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Red",
          "Customer_Age": "45",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "80542",
          "Discount": "288",
          "Insurance_Amount": "3510",
          "Accessories_Amount": "4638",
          "Finance_Amount": "77803",
          "Exchange_Bonus": "2451",
          "Net_Sales_Amount": "85951",
          "Cost_Price": "66486",
          "Gross_Profit": "19465",
          "Delivery_Days": "1",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00436",
          "Order_Date": "10/12/2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "White",
          "Customer_Age": "23",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "210651",
          "Discount": "5192",
          "Insurance_Amount": "7614",
          "Accessories_Amount": "8805",
          "Finance_Amount": "201204",
          "Exchange_Bonus": "4255",
          "Net_Sales_Amount": "217623",
          "Cost_Price": "159369",
          "Gross_Profit": "58254",
          "Delivery_Days": "7",
          "Customer_Rating": "4.1"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00440",
          "Order_Date": "15-10-2026",
          "Year": "2026",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Blue",
          "Customer_Age": "21",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "143400",
          "Discount": "1753",
          "Insurance_Amount": "7357",
          "Accessories_Amount": "2906",
          "Finance_Amount": "137814",
          "Exchange_Bonus": "3833",
          "Net_Sales_Amount": "148077",
          "Cost_Price": "116573",
          "Gross_Profit": "31504",
          "Delivery_Days": "10",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00481",
          "Order_Date": "18-05-2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Blue",
          "Customer_Age": "26",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "107517",
          "Discount": "3572",
          "Insurance_Amount": "6407",
          "Accessories_Amount": "8437",
          "Finance_Amount": "100214",
          "Exchange_Bonus": "3731",
          "Net_Sales_Amount": "115058",
          "Cost_Price": "88249",
          "Gross_Profit": "26809",
          "Delivery_Days": "2",
          "Customer_Rating": "4.2"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00502",
          "Order_Date": "16-01-2026",
          "Year": "2026",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "White",
          "Customer_Age": "50",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "82247",
          "Discount": "2858",
          "Insurance_Amount": "6938",
          "Accessories_Amount": "1814",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2961",
          "Net_Sales_Amount": "85180",
          "Cost_Price": "67268",
          "Gross_Profit": "17912",
          "Delivery_Days": "7",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00514",
          "Order_Date": "4/10/2026",
          "Year": "2026",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "24",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "83273",
          "Discount": "619",
          "Insurance_Amount": "6449",
          "Accessories_Amount": "6717",
          "Finance_Amount": "79087",
          "Exchange_Bonus": "3567",
          "Net_Sales_Amount": "92253",
          "Cost_Price": "67349",
          "Gross_Profit": "24904",
          "Delivery_Days": "9",
          "Customer_Rating": "4.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00519",
          "Order_Date": "19-06-2026",
          "Year": "2026",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "White",
          "Customer_Age": "52",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "107653",
          "Discount": "6544",
          "Insurance_Amount": "3134",
          "Accessories_Amount": "1325",
          "Finance_Amount": "96796",
          "Exchange_Bonus": "4313",
          "Net_Sales_Amount": "101255",
          "Cost_Price": "90392",
          "Gross_Profit": "10863",
          "Delivery_Days": "2",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00521",
          "Order_Date": "18-05-2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Black",
          "Customer_Age": "37",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "91899",
          "Discount": "6362",
          "Insurance_Amount": "4919",
          "Accessories_Amount": "7478",
          "Finance_Amount": "84981",
          "Exchange_Bonus": "556",
          "Net_Sales_Amount": "97378",
          "Cost_Price": "70790",
          "Gross_Profit": "26588",
          "Delivery_Days": "2",
          "Customer_Rating": "4.3"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00527",
          "Order_Date": "6/6/2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "37",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "90683",
          "Discount": "4029",
          "Insurance_Amount": "6051",
          "Accessories_Amount": "4936",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1429",
          "Net_Sales_Amount": "96212",
          "Cost_Price": "74610",
          "Gross_Profit": "21602",
          "Delivery_Days": "12",
          "Customer_Rating": "4.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00536",
          "Order_Date": "11/5/2026",
          "Year": "2026",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Grey",
          "Customer_Age": "53",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "208155",
          "Discount": "5104",
          "Insurance_Amount": "3636",
          "Accessories_Amount": "6036",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2715",
          "Net_Sales_Amount": "210008",
          "Cost_Price": "158152",
          "Gross_Profit": "51856",
          "Delivery_Days": "3",
          "Customer_Rating": "3.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00545",
          "Order_Date": "20-11-2026",
          "Year": "2026",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "24",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "93453",
          "Discount": "541",
          "Insurance_Amount": "3294",
          "Accessories_Amount": "5835",
          "Finance_Amount": "89248",
          "Exchange_Bonus": "3664",
          "Net_Sales_Amount": "98377",
          "Cost_Price": "69013",
          "Gross_Profit": "29364",
          "Delivery_Days": "1",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00560",
          "Order_Date": "26-07-2026",
          "Year": "2026",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "White",
          "Customer_Age": "29",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "81350",
          "Discount": "5471",
          "Insurance_Amount": "7743",
          "Accessories_Amount": "6179",
          "Finance_Amount": "0",
          "Exchange_Bonus": "4859",
          "Net_Sales_Amount": "84942",
          "Cost_Price": "65253",
          "Gross_Profit": "19689",
          "Delivery_Days": "1",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00569",
          "Order_Date": "30-12-2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "White",
          "Customer_Age": "27",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "210235",
          "Discount": "2887",
          "Insurance_Amount": "5483",
          "Accessories_Amount": "5754",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2584",
          "Net_Sales_Amount": "216001",
          "Cost_Price": "168206",
          "Gross_Profit": "47795",
          "Delivery_Days": "1",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00578",
          "Order_Date": "23-01-2026",
          "Year": "2026",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Blue",
          "Customer_Age": "40",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "82114",
          "Discount": "6910",
          "Insurance_Amount": "7973",
          "Accessories_Amount": "5807",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1225",
          "Net_Sales_Amount": "87759",
          "Cost_Price": "62113",
          "Gross_Profit": "25646",
          "Delivery_Days": "4",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00583",
          "Order_Date": "23-08-2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Black",
          "Customer_Age": "36",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "212271",
          "Discount": "6199",
          "Insurance_Amount": "5673",
          "Accessories_Amount": "9772",
          "Finance_Amount": "204736",
          "Exchange_Bonus": "1336",
          "Net_Sales_Amount": "220181",
          "Cost_Price": "173857",
          "Gross_Profit": "46324",
          "Delivery_Days": "11",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00603",
          "Order_Date": "5/7/2026",
          "Year": "2026",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Black",
          "Customer_Age": "49",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "142912",
          "Discount": "2319",
          "Insurance_Amount": "7925",
          "Accessories_Amount": "3558",
          "Finance_Amount": "139456",
          "Exchange_Bonus": "1137",
          "Net_Sales_Amount": "150939",
          "Cost_Price": "109484",
          "Gross_Profit": "41455",
          "Delivery_Days": "9",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00654",
          "Order_Date": "18-08-2025",
          "Year": "2025",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "21",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "86556",
          "Discount": "6181",
          "Insurance_Amount": "5394",
          "Accessories_Amount": "1567",
          "Finance_Amount": "75534",
          "Exchange_Bonus": "4841",
          "Net_Sales_Amount": "82495",
          "Cost_Price": "69660",
          "Gross_Profit": "12835",
          "Delivery_Days": "4",
          "Customer_Rating": "4.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00655",
          "Order_Date": "7/12/2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Red",
          "Customer_Age": "39",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "140969",
          "Discount": "1893",
          "Insurance_Amount": "5241",
          "Accessories_Amount": "9397",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3771",
          "Net_Sales_Amount": "149943",
          "Cost_Price": "115859",
          "Gross_Profit": "34084",
          "Delivery_Days": "3",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00664",
          "Order_Date": "16-08-2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Red",
          "Customer_Age": "41",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "143627",
          "Discount": "859",
          "Insurance_Amount": "6926",
          "Accessories_Amount": "2624",
          "Finance_Amount": "141105",
          "Exchange_Bonus": "1663",
          "Net_Sales_Amount": "150655",
          "Cost_Price": "117634",
          "Gross_Profit": "33021",
          "Delivery_Days": "3",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00676",
          "Order_Date": "27-03-2026",
          "Year": "2026",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "White",
          "Customer_Age": "34",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "208914",
          "Discount": "2386",
          "Insurance_Amount": "7672",
          "Accessories_Amount": "3185",
          "Finance_Amount": "204874",
          "Exchange_Bonus": "1654",
          "Net_Sales_Amount": "215731",
          "Cost_Price": "168264",
          "Gross_Profit": "47467",
          "Delivery_Days": "11",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00695",
          "Order_Date": "28-01-2025",
          "Year": "2025",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Grey",
          "Customer_Age": "50",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "213917",
          "Discount": "6252",
          "Insurance_Amount": "7170",
          "Accessories_Amount": "6081",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3123",
          "Net_Sales_Amount": "217793",
          "Cost_Price": "168343",
          "Gross_Profit": "49450",
          "Delivery_Days": "8",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00709",
          "Order_Date": "20-12-2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Black",
          "Customer_Age": "47",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "111185",
          "Discount": "5117",
          "Insurance_Amount": "4820",
          "Accessories_Amount": "6302",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1498",
          "Net_Sales_Amount": "115692",
          "Cost_Price": "90166",
          "Gross_Profit": "25526",
          "Delivery_Days": "6",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00711",
          "Order_Date": "13-05-2026",
          "Year": "2026",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Blue",
          "Customer_Age": "50",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "139920",
          "Discount": "166",
          "Insurance_Amount": "3387",
          "Accessories_Amount": "8028",
          "Finance_Amount": "135500",
          "Exchange_Bonus": "4254",
          "Net_Sales_Amount": "146915",
          "Cost_Price": "107957",
          "Gross_Profit": "38958",
          "Delivery_Days": "1",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00712",
          "Order_Date": "15-05-2026",
          "Year": "2026",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "53",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "87784",
          "Discount": "6614",
          "Insurance_Amount": "5504",
          "Accessories_Amount": "9305",
          "Finance_Amount": "0",
          "Exchange_Bonus": "161",
          "Net_Sales_Amount": "95818",
          "Cost_Price": "65318",
          "Gross_Profit": "30500",
          "Delivery_Days": "10",
          "Customer_Rating": "4.2"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00718",
          "Order_Date": "7/4/2025",
          "Year": "2025",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "44",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "87423",
          "Discount": "3250",
          "Insurance_Amount": "4025",
          "Accessories_Amount": "4836",
          "Finance_Amount": "0",
          "Exchange_Bonus": "4120",
          "Net_Sales_Amount": "88914",
          "Cost_Price": "72917",
          "Gross_Profit": "15997",
          "Delivery_Days": "14",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00735",
          "Order_Date": "13-09-2025",
          "Year": "2025",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "34",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "89046",
          "Discount": "5952",
          "Insurance_Amount": "5224",
          "Accessories_Amount": "4114",
          "Finance_Amount": "78132",
          "Exchange_Bonus": "4962",
          "Net_Sales_Amount": "87470",
          "Cost_Price": "71486",
          "Gross_Profit": "15984",
          "Delivery_Days": "9",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00790",
          "Order_Date": "5/6/2026",
          "Year": "2026",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "White",
          "Customer_Age": "49",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "137381",
          "Discount": "3428",
          "Insurance_Amount": "4719",
          "Accessories_Amount": "6810",
          "Finance_Amount": "133920",
          "Exchange_Bonus": "33",
          "Net_Sales_Amount": "145449",
          "Cost_Price": "107160",
          "Gross_Profit": "38289",
          "Delivery_Days": "15",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00797",
          "Order_Date": "14-03-2025",
          "Year": "2025",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "25",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "85104",
          "Discount": "6099",
          "Insurance_Amount": "7879",
          "Accessories_Amount": "5153",
          "Finance_Amount": "77614",
          "Exchange_Bonus": "1391",
          "Net_Sales_Amount": "90646",
          "Cost_Price": "70192",
          "Gross_Profit": "20454",
          "Delivery_Days": "12",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00812",
          "Order_Date": "25-10-2026",
          "Year": "2026",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "50",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "91969",
          "Discount": "3567",
          "Insurance_Amount": "6680",
          "Accessories_Amount": "6897",
          "Finance_Amount": "0",
          "Exchange_Bonus": "560",
          "Net_Sales_Amount": "101419",
          "Cost_Price": "76115",
          "Gross_Profit": "25304",
          "Delivery_Days": "2",
          "Customer_Rating": "4.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00815",
          "Order_Date": "18-06-2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Grey",
          "Customer_Age": "53",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "142525",
          "Discount": "235",
          "Insurance_Amount": "7210",
          "Accessories_Amount": "8649",
          "Finance_Amount": "137564",
          "Exchange_Bonus": "4726",
          "Net_Sales_Amount": "153423",
          "Cost_Price": "105550",
          "Gross_Profit": "47873",
          "Delivery_Days": "12",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00830",
          "Order_Date": "29-06-2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Black",
          "Customer_Age": "54",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "83902",
          "Discount": "44",
          "Insurance_Amount": "7623",
          "Accessories_Amount": "6271",
          "Finance_Amount": "0",
          "Exchange_Bonus": "4516",
          "Net_Sales_Amount": "93236",
          "Cost_Price": "63433",
          "Gross_Profit": "29803",
          "Delivery_Days": "3",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00845",
          "Order_Date": "14-12-2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Black",
          "Customer_Age": "42",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "212949",
          "Discount": "2972",
          "Insurance_Amount": "7354",
          "Accessories_Amount": "6750",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1760",
          "Net_Sales_Amount": "222321",
          "Cost_Price": "159804",
          "Gross_Profit": "62517",
          "Delivery_Days": "10",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00853",
          "Order_Date": "31-03-2025",
          "Year": "2025",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Blue",
          "Customer_Age": "43",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "109239",
          "Discount": "3768",
          "Insurance_Amount": "7830",
          "Accessories_Amount": "2269",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2245",
          "Net_Sales_Amount": "113325",
          "Cost_Price": "89771",
          "Gross_Profit": "23554",
          "Delivery_Days": "13",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00857",
          "Order_Date": "10/5/2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Grey",
          "Customer_Age": "35",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "210704",
          "Discount": "735",
          "Insurance_Amount": "5939",
          "Accessories_Amount": "2773",
          "Finance_Amount": "205737",
          "Exchange_Bonus": "4232",
          "Net_Sales_Amount": "214449",
          "Cost_Price": "159877",
          "Gross_Profit": "54572",
          "Delivery_Days": "15",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00866",
          "Order_Date": "14-07-2025",
          "Year": "2025",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "38",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "90036",
          "Discount": "5436",
          "Insurance_Amount": "3843",
          "Accessories_Amount": "5042",
          "Finance_Amount": "83890",
          "Exchange_Bonus": "710",
          "Net_Sales_Amount": "92775",
          "Cost_Price": "68821",
          "Gross_Profit": "23954",
          "Delivery_Days": "5",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00883",
          "Order_Date": "3/4/2025",
          "Year": "2025",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Grey",
          "Customer_Age": "53",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "110238",
          "Discount": "3216",
          "Insurance_Amount": "7969",
          "Accessories_Amount": "3389",
          "Finance_Amount": "105647",
          "Exchange_Bonus": "1375",
          "Net_Sales_Amount": "117005",
          "Cost_Price": "85493",
          "Gross_Profit": "31512",
          "Delivery_Days": "4",
          "Customer_Rating": "4.2"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00909",
          "Order_Date": "13-07-2026",
          "Year": "2026",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Grey",
          "Customer_Age": "35",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "137106",
          "Discount": "4155",
          "Insurance_Amount": "3567",
          "Accessories_Amount": "8340",
          "Finance_Amount": "130804",
          "Exchange_Bonus": "2147",
          "Net_Sales_Amount": "142711",
          "Cost_Price": "117485",
          "Gross_Profit": "25226",
          "Delivery_Days": "9",
          "Customer_Rating": "3.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00913",
          "Order_Date": "2/8/2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "26",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "82609",
          "Discount": "5924",
          "Insurance_Amount": "7611",
          "Accessories_Amount": "8923",
          "Finance_Amount": "73314",
          "Exchange_Bonus": "3371",
          "Net_Sales_Amount": "89848",
          "Cost_Price": "64334",
          "Gross_Profit": "25514",
          "Delivery_Days": "7",
          "Customer_Rating": "3.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00951",
          "Order_Date": "21-02-2025",
          "Year": "2025",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "45",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "92125",
          "Discount": "4941",
          "Insurance_Amount": "5461",
          "Accessories_Amount": "2061",
          "Finance_Amount": "83363",
          "Exchange_Bonus": "3821",
          "Net_Sales_Amount": "90885",
          "Cost_Price": "69568",
          "Gross_Profit": "21317",
          "Delivery_Days": "13",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00973",
          "Order_Date": "28-12-2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Black",
          "Customer_Age": "29",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "89594",
          "Discount": "2246",
          "Insurance_Amount": "5672",
          "Accessories_Amount": "4049",
          "Finance_Amount": "85959",
          "Exchange_Bonus": "1389",
          "Net_Sales_Amount": "95680",
          "Cost_Price": "70088",
          "Gross_Profit": "25592",
          "Delivery_Days": "12",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD00977",
          "Order_Date": "16-07-2025",
          "Year": "2025",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "White",
          "Customer_Age": "22",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "110639",
          "Discount": "2648",
          "Insurance_Amount": "4837",
          "Accessories_Amount": "8535",
          "Finance_Amount": "0",
          "Exchange_Bonus": "238",
          "Net_Sales_Amount": "121125",
          "Cost_Price": "90204",
          "Gross_Profit": "30921",
          "Delivery_Days": "12",
          "Customer_Rating": "4.1"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01004",
          "Order_Date": "31-12-2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "White",
          "Customer_Age": "32",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "113006",
          "Discount": "156",
          "Insurance_Amount": "7194",
          "Accessories_Amount": "4888",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3275",
          "Net_Sales_Amount": "121657",
          "Cost_Price": "84373",
          "Gross_Profit": "37284",
          "Delivery_Days": "15",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01042",
          "Order_Date": "14-11-2025",
          "Year": "2025",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Grey",
          "Customer_Age": "20",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "208792",
          "Discount": "1434",
          "Insurance_Amount": "7217",
          "Accessories_Amount": "2218",
          "Finance_Amount": "207250",
          "Exchange_Bonus": "108",
          "Net_Sales_Amount": "216685",
          "Cost_Price": "157758",
          "Gross_Profit": "58927",
          "Delivery_Days": "5",
          "Customer_Rating": "4.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01043",
          "Order_Date": "3/9/2026",
          "Year": "2026",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "32",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "87487",
          "Discount": "2031",
          "Insurance_Amount": "6458",
          "Accessories_Amount": "8477",
          "Finance_Amount": "83428",
          "Exchange_Bonus": "2028",
          "Net_Sales_Amount": "98363",
          "Cost_Price": "64837",
          "Gross_Profit": "33526",
          "Delivery_Days": "5",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01083",
          "Order_Date": "16-09-2025",
          "Year": "2025",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Blue",
          "Customer_Age": "35",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "83663",
          "Discount": "1739",
          "Insurance_Amount": "4486",
          "Accessories_Amount": "7895",
          "Finance_Amount": "81016",
          "Exchange_Bonus": "908",
          "Net_Sales_Amount": "93397",
          "Cost_Price": "67391",
          "Gross_Profit": "26006",
          "Delivery_Days": "13",
          "Customer_Rating": "4.3"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01085",
          "Order_Date": "27-12-2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "55",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "89536",
          "Discount": "6561",
          "Insurance_Amount": "6846",
          "Accessories_Amount": "4735",
          "Finance_Amount": "78130",
          "Exchange_Bonus": "4845",
          "Net_Sales_Amount": "89711",
          "Cost_Price": "71457",
          "Gross_Profit": "18254",
          "Delivery_Days": "5",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01089",
          "Order_Date": "27-06-2025",
          "Year": "2025",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "55",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "89991",
          "Discount": "3134",
          "Insurance_Amount": "3154",
          "Accessories_Amount": "9796",
          "Finance_Amount": "84963",
          "Exchange_Bonus": "1894",
          "Net_Sales_Amount": "97913",
          "Cost_Price": "64922",
          "Gross_Profit": "32991",
          "Delivery_Days": "14",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01102",
          "Order_Date": "5/9/2026",
          "Year": "2026",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Blue",
          "Customer_Age": "47",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "80584",
          "Discount": "6077",
          "Insurance_Amount": "7732",
          "Accessories_Amount": "4224",
          "Finance_Amount": "73369",
          "Exchange_Bonus": "1138",
          "Net_Sales_Amount": "85325",
          "Cost_Price": "66927",
          "Gross_Profit": "18398",
          "Delivery_Days": "11",
          "Customer_Rating": "4.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01117",
          "Order_Date": "19-04-2025",
          "Year": "2025",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Grey",
          "Customer_Age": "32",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "137187",
          "Discount": "1878",
          "Insurance_Amount": "7612",
          "Accessories_Amount": "4322",
          "Finance_Amount": "131538",
          "Exchange_Bonus": "3771",
          "Net_Sales_Amount": "143472",
          "Cost_Price": "110690",
          "Gross_Profit": "32782",
          "Delivery_Days": "13",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01118",
          "Order_Date": "20-07-2026",
          "Year": "2026",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "39",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "90369",
          "Discount": "6063",
          "Insurance_Amount": "5037",
          "Accessories_Amount": "7833",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2918",
          "Net_Sales_Amount": "94258",
          "Cost_Price": "70886",
          "Gross_Profit": "23372",
          "Delivery_Days": "8",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01123",
          "Order_Date": "20-03-2026",
          "Year": "2026",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "White",
          "Customer_Age": "38",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "110769",
          "Discount": "2110",
          "Insurance_Amount": "7530",
          "Accessories_Amount": "1102",
          "Finance_Amount": "104417",
          "Exchange_Bonus": "4242",
          "Net_Sales_Amount": "113049",
          "Cost_Price": "87168",
          "Gross_Profit": "25881",
          "Delivery_Days": "8",
          "Customer_Rating": "4.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01136",
          "Order_Date": "23-12-2025",
          "Year": "2025",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Red",
          "Customer_Age": "45",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "84362",
          "Discount": "192",
          "Insurance_Amount": "7121",
          "Accessories_Amount": "1439",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3571",
          "Net_Sales_Amount": "89159",
          "Cost_Price": "65680",
          "Gross_Profit": "23479",
          "Delivery_Days": "7",
          "Customer_Rating": "4.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01155",
          "Order_Date": "3/11/2026",
          "Year": "2026",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "White",
          "Customer_Age": "26",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "214161",
          "Discount": "4066",
          "Insurance_Amount": "5926",
          "Accessories_Amount": "5894",
          "Finance_Amount": "207027",
          "Exchange_Bonus": "3068",
          "Net_Sales_Amount": "218847",
          "Cost_Price": "176760",
          "Gross_Profit": "42087",
          "Delivery_Days": "10",
          "Customer_Rating": "4.2"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01162",
          "Order_Date": "18-10-2025",
          "Year": "2025",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "35",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "88162",
          "Discount": "2675",
          "Insurance_Amount": "6922",
          "Accessories_Amount": "3799",
          "Finance_Amount": "81121",
          "Exchange_Bonus": "4366",
          "Net_Sales_Amount": "91842",
          "Cost_Price": "70150",
          "Gross_Profit": "21692",
          "Delivery_Days": "7",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01183",
          "Order_Date": "6/4/2026",
          "Year": "2026",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "44",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "88710",
          "Discount": "2540",
          "Insurance_Amount": "7130",
          "Accessories_Amount": "5633",
          "Finance_Amount": "81268",
          "Exchange_Bonus": "4902",
          "Net_Sales_Amount": "94031",
          "Cost_Price": "64083",
          "Gross_Profit": "29948",
          "Delivery_Days": "13",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01192",
          "Order_Date": "27-02-2026",
          "Year": "2026",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "21",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "90537",
          "Discount": "4089",
          "Insurance_Amount": "4140",
          "Accessories_Amount": "4317",
          "Finance_Amount": "0",
          "Exchange_Bonus": "943",
          "Net_Sales_Amount": "93962",
          "Cost_Price": "71995",
          "Gross_Profit": "21967",
          "Delivery_Days": "5",
          "Customer_Rating": "3.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01204",
          "Order_Date": "24-01-2025",
          "Year": "2025",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "White",
          "Customer_Age": "54",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "88210",
          "Discount": "3577",
          "Insurance_Amount": "4663",
          "Accessories_Amount": "2596",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1605",
          "Net_Sales_Amount": "90287",
          "Cost_Price": "64937",
          "Gross_Profit": "25350",
          "Delivery_Days": "7",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01206",
          "Order_Date": "28-05-2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "47",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "88530",
          "Discount": "848",
          "Insurance_Amount": "3061",
          "Accessories_Amount": "7584",
          "Finance_Amount": "82723",
          "Exchange_Bonus": "4959",
          "Net_Sales_Amount": "93368",
          "Cost_Price": "71534",
          "Gross_Profit": "21834",
          "Delivery_Days": "9",
          "Customer_Rating": "4.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01270",
          "Order_Date": "16-08-2025",
          "Year": "2025",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Red",
          "Customer_Age": "39",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "140130",
          "Discount": "3666",
          "Insurance_Amount": "6289",
          "Accessories_Amount": "1583",
          "Finance_Amount": "135048",
          "Exchange_Bonus": "1416",
          "Net_Sales_Amount": "142920",
          "Cost_Price": "114922",
          "Gross_Profit": "27998",
          "Delivery_Days": "2",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01274",
          "Order_Date": "6/2/2026",
          "Year": "2026",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "38",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "93860",
          "Discount": "5829",
          "Insurance_Amount": "3559",
          "Accessories_Amount": "2557",
          "Finance_Amount": "85326",
          "Exchange_Bonus": "2705",
          "Net_Sales_Amount": "91442",
          "Cost_Price": "69578",
          "Gross_Profit": "21864",
          "Delivery_Days": "1",
          "Customer_Rating": "4.1"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01280",
          "Order_Date": "9/7/2025",
          "Year": "2025",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "24",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "87751",
          "Discount": "6062",
          "Insurance_Amount": "7281",
          "Accessories_Amount": "4827",
          "Finance_Amount": "78168",
          "Exchange_Bonus": "3521",
          "Net_Sales_Amount": "90276",
          "Cost_Price": "76164",
          "Gross_Profit": "14112",
          "Delivery_Days": "9",
          "Customer_Rating": "4.4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01293",
          "Order_Date": "12/12/2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "37",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "92897",
          "Discount": "2981",
          "Insurance_Amount": "3698",
          "Accessories_Amount": "9466",
          "Finance_Amount": "88567",
          "Exchange_Bonus": "1349",
          "Net_Sales_Amount": "101731",
          "Cost_Price": "68431",
          "Gross_Profit": "33300",
          "Delivery_Days": "1",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01306",
          "Order_Date": "5/9/2026",
          "Year": "2026",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Black",
          "Customer_Age": "35",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "214360",
          "Discount": "4232",
          "Insurance_Amount": "5698",
          "Accessories_Amount": "6158",
          "Finance_Amount": "206967",
          "Exchange_Bonus": "3161",
          "Net_Sales_Amount": "218823",
          "Cost_Price": "175099",
          "Gross_Profit": "43724",
          "Delivery_Days": "14",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01309",
          "Order_Date": "26-11-2026",
          "Year": "2026",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Grey",
          "Customer_Age": "37",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "208778",
          "Discount": "5540",
          "Insurance_Amount": "7602",
          "Accessories_Amount": "6844",
          "Finance_Amount": "199653",
          "Exchange_Bonus": "3585",
          "Net_Sales_Amount": "214099",
          "Cost_Price": "172481",
          "Gross_Profit": "41618",
          "Delivery_Days": "15",
          "Customer_Rating": "4.1"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01321",
          "Order_Date": "6/9/2025",
          "Year": "2025",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Red",
          "Customer_Age": "42",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "138179",
          "Discount": "6775",
          "Insurance_Amount": "4808",
          "Accessories_Amount": "1122",
          "Finance_Amount": "127322",
          "Exchange_Bonus": "4082",
          "Net_Sales_Amount": "133252",
          "Cost_Price": "109841",
          "Gross_Profit": "23411",
          "Delivery_Days": "14",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01322",
          "Order_Date": "12/10/2026",
          "Year": "2026",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "54",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "89310",
          "Discount": "2732",
          "Insurance_Amount": "5891",
          "Accessories_Amount": "2450",
          "Finance_Amount": "84251",
          "Exchange_Bonus": "2327",
          "Net_Sales_Amount": "92592",
          "Cost_Price": "68517",
          "Gross_Profit": "24075",
          "Delivery_Days": "15",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01356",
          "Order_Date": "21-11-2026",
          "Year": "2026",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Shine 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "26",
          "Customer_Gender": "Male",
          "Payment_Mode": "Cash",
          "On_Road_Price": "86522",
          "Discount": "5795",
          "Insurance_Amount": "7548",
          "Accessories_Amount": "3974",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1539",
          "Net_Sales_Amount": "90710",
          "Cost_Price": "67428",
          "Gross_Profit": "23282",
          "Delivery_Days": "4",
          "Customer_Rating": "4"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01361",
          "Order_Date": "5/2/2026",
          "Year": "2026",
          "MonthIndex": "2",
          "Month": "February",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Blue",
          "Customer_Age": "36",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "92227",
          "Discount": "6235",
          "Insurance_Amount": "5975",
          "Accessories_Amount": "8348",
          "Finance_Amount": "82621",
          "Exchange_Bonus": "3371",
          "Net_Sales_Amount": "96944",
          "Cost_Price": "75881",
          "Gross_Profit": "21063",
          "Delivery_Days": "14",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01362",
          "Order_Date": "16-07-2026",
          "Year": "2026",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "42",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "91955",
          "Discount": "5336",
          "Insurance_Amount": "5463",
          "Accessories_Amount": "6477",
          "Finance_Amount": "0",
          "Exchange_Bonus": "4908",
          "Net_Sales_Amount": "93651",
          "Cost_Price": "69970",
          "Gross_Profit": "23681",
          "Delivery_Days": "5",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01371",
          "Order_Date": "9/10/2026",
          "Year": "2026",
          "MonthIndex": "10",
          "Month": "October",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Grey",
          "Customer_Age": "21",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "108143",
          "Discount": "1307",
          "Insurance_Amount": "6094",
          "Accessories_Amount": "9804",
          "Finance_Amount": "103272",
          "Exchange_Bonus": "3564",
          "Net_Sales_Amount": "119170",
          "Cost_Price": "93479",
          "Gross_Profit": "25691",
          "Delivery_Days": "11",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01387",
          "Order_Date": "2/3/2026",
          "Year": "2026",
          "MonthIndex": "3",
          "Month": "March",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "Red",
          "Customer_Age": "20",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "78795",
          "Discount": "4833",
          "Insurance_Amount": "3828",
          "Accessories_Amount": "3485",
          "Finance_Amount": "72578",
          "Exchange_Bonus": "1384",
          "Net_Sales_Amount": "79891",
          "Cost_Price": "64620",
          "Gross_Profit": "15271",
          "Delivery_Days": "6",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01402",
          "Order_Date": "8/12/2026",
          "Year": "2026",
          "MonthIndex": "12",
          "Month": "December",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Hornet 2.0",
          "Bike_Segment": "Sports",
          "Engine_CC": "184",
          "Color": "Red",
          "Customer_Age": "44",
          "Customer_Gender": "Female",
          "Payment_Mode": "Finance",
          "On_Road_Price": "142984",
          "Discount": "5678",
          "Insurance_Amount": "4397",
          "Accessories_Amount": "3472",
          "Finance_Amount": "0",
          "Exchange_Bonus": "1352",
          "Net_Sales_Amount": "143823",
          "Cost_Price": "113617",
          "Gross_Profit": "30206",
          "Delivery_Days": "6",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01418",
          "Order_Date": "8/11/2025",
          "Year": "2025",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "White",
          "Customer_Age": "39",
          "Customer_Gender": "Male",
          "Payment_Mode": "Finance",
          "On_Road_Price": "114906",
          "Discount": "160",
          "Insurance_Amount": "5162",
          "Accessories_Amount": "2900",
          "Finance_Amount": "111884",
          "Exchange_Bonus": "2862",
          "Net_Sales_Amount": "119946",
          "Cost_Price": "85904",
          "Gross_Profit": "34042",
          "Delivery_Days": "15",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01419",
          "Order_Date": "13-01-2026",
          "Year": "2026",
          "MonthIndex": "1",
          "Month": "January",
          "Quarter": "Q1",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "White",
          "Customer_Age": "51",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "210321",
          "Discount": "2556",
          "Insurance_Amount": "6854",
          "Accessories_Amount": "9883",
          "Finance_Amount": "202939",
          "Exchange_Bonus": "4826",
          "Net_Sales_Amount": "219676",
          "Cost_Price": "164634",
          "Gross_Profit": "55042",
          "Delivery_Days": "7",
          "Customer_Rating": "4.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01423",
          "Order_Date": "24-05-2025",
          "Year": "2025",
          "MonthIndex": "5",
          "Month": "May",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Grey",
          "Customer_Age": "42",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "87859",
          "Discount": "936",
          "Insurance_Amount": "4745",
          "Accessories_Amount": "3926",
          "Finance_Amount": "82222",
          "Exchange_Bonus": "4701",
          "Net_Sales_Amount": "90893",
          "Cost_Price": "71598",
          "Gross_Profit": "19295",
          "Delivery_Days": "11",
          "Customer_Rating": "4.5"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01431",
          "Order_Date": "26-04-2025",
          "Year": "2025",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Black",
          "Customer_Age": "30",
          "Customer_Gender": "Male",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "92327",
          "Discount": "5632",
          "Insurance_Amount": "5376",
          "Accessories_Amount": "4176",
          "Finance_Amount": "0",
          "Exchange_Bonus": "2227",
          "Net_Sales_Amount": "94020",
          "Cost_Price": "69927",
          "Gross_Profit": "24093",
          "Delivery_Days": "15",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01441",
          "Order_Date": "22-06-2026",
          "Year": "2026",
          "MonthIndex": "6",
          "Month": "June",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "CB350",
          "Bike_Segment": "Premium",
          "Engine_CC": "348",
          "Color": "Grey",
          "Customer_Age": "42",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "213518",
          "Discount": "633",
          "Insurance_Amount": "6458",
          "Accessories_Amount": "8570",
          "Finance_Amount": "208767",
          "Exchange_Bonus": "4118",
          "Net_Sales_Amount": "223795",
          "Cost_Price": "170890",
          "Gross_Profit": "52905",
          "Delivery_Days": "5",
          "Customer_Rating": "4.3"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01485",
          "Order_Date": "27-04-2026",
          "Year": "2026",
          "MonthIndex": "4",
          "Month": "April",
          "Quarter": "Q2",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "White",
          "Customer_Age": "54",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "82017",
          "Discount": "3954",
          "Insurance_Amount": "7238",
          "Accessories_Amount": "2896",
          "Finance_Amount": "0",
          "Exchange_Bonus": "3551",
          "Net_Sales_Amount": "84646",
          "Cost_Price": "62177",
          "Gross_Profit": "22469",
          "Delivery_Days": "15",
          "Customer_Rating": "4.9"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01486",
          "Order_Date": "30-08-2026",
          "Year": "2026",
          "MonthIndex": "8",
          "Month": "August",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "Activa 6G",
          "Bike_Segment": "Scooter",
          "Engine_CC": "110",
          "Color": "White",
          "Customer_Age": "23",
          "Customer_Gender": "Female",
          "Payment_Mode": "Cash",
          "On_Road_Price": "80798",
          "Discount": "3729",
          "Insurance_Amount": "5381",
          "Accessories_Amount": "1077",
          "Finance_Amount": "73668",
          "Exchange_Bonus": "3401",
          "Net_Sales_Amount": "80126",
          "Cost_Price": "61914",
          "Gross_Profit": "18212",
          "Delivery_Days": "4",
          "Customer_Rating": "3.8"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01487",
          "Order_Date": "18-09-2026",
          "Year": "2026",
          "MonthIndex": "9",
          "Month": "September",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Showroom Walk-in",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Red",
          "Customer_Age": "31",
          "Customer_Gender": "Male",
          "Payment_Mode": "UPI",
          "On_Road_Price": "87443",
          "Discount": "698",
          "Insurance_Amount": "3664",
          "Accessories_Amount": "4213",
          "Finance_Amount": "0",
          "Exchange_Bonus": "4628",
          "Net_Sales_Amount": "89994",
          "Cost_Price": "75266",
          "Gross_Profit": "14728",
          "Delivery_Days": "10",
          "Customer_Rating": "4.6"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01493",
          "Order_Date": "9/7/2025",
          "Year": "2025",
          "MonthIndex": "7",
          "Month": "July",
          "Quarter": "Q3",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Corporate Sale",
          "Bike_Model": "Unicorn",
          "Bike_Segment": "Premium Commuter",
          "Engine_CC": "160",
          "Color": "Grey",
          "Customer_Age": "39",
          "Customer_Gender": "Female",
          "Payment_Mode": "UPI",
          "On_Road_Price": "108936",
          "Discount": "413",
          "Insurance_Amount": "7495",
          "Accessories_Amount": "7474",
          "Finance_Amount": "105860",
          "Exchange_Bonus": "2663",
          "Net_Sales_Amount": "120829",
          "Cost_Price": "86883",
          "Gross_Profit": "33946",
          "Delivery_Days": "5",
          "Customer_Rating": "3.7"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "Order_ID": "ORD01499",
          "Order_Date": "14-11-2026",
          "Year": "2026",
          "MonthIndex": "11",
          "Month": "November",
          "Quarter": "Q4",
          "State": "Maharashtra",
          "City": "Mumbai",
          "Dealer_Name": "Honda Dealer Mumbai",
          "Sales_Channel": "Online Booking",
          "Bike_Model": "SP 125",
          "Bike_Segment": "Commuter",
          "Engine_CC": "125",
          "Color": "Black",
          "Customer_Age": "33",
          "Customer_Gender": "Female",
          "Payment_Mode": "Credit Card",
          "On_Road_Price": "93138",
          "Discount": "6665",
          "Insurance_Amount": "7355",
          "Accessories_Amount": "3098",
          "Finance_Amount": "81726",
          "Exchange_Bonus": "4747",
          "Net_Sales_Amount": "92179",
          "Cost_Price": "72782",
          "Gross_Profit": "19397",
          "Delivery_Days": "11",
          "Customer_Rating": "5"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "IF Has CSV?": {
      "main": [
        [
          {
            "node": "Extract CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "IF Has CSV?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1df16c3b-d10d-4815-898d-85417d4f53a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50320f71c9fadc05d3fb2f4e6e39ee8474fe81244d5873386d1729c58458bc85"
  },
  "id": "9sByuD3JTV5ZWmlZ",
  "tags": []
}